<div class="path-grid">
  {% assign chooser_paths = site.data.chooser_paths %}
  {% if include.slugs %}
    {% assign slug_list = include.slugs | replace: " ", "" | split: "," %}
    {% assign chooser_paths = site.data.chooser_paths | where_exp: "path", "slug_list contains path.slug" %}
  {% endif %}
  {% for path in chooser_paths %}
  {% assign matched_monster = site.monsters | where_exp: "monster", "monster.url contains path.slug" | first %}
  {% assign heading_id = "path-" | append: path.slug %}
  {% include path-card.html path=path matched_monster=matched_monster heading_id=heading_id %}
  {% endfor %}
</div>
